# Child Mortality Final Project

## Data Wrangling

In [2]:
import pandas as pd

In [14]:
df = pd.read_excel("/Users/rexowl/Desktop/FINAL.xlsx", sheet_name='Sheet1')

In [15]:
df.head()

,Year,Afghanistan Lower,Afghanistan Median,Afghanistan Upper,Albania Lower,Albania Median,Albania Upper,Algeria Lower,Algeria Median,Algeria Upper,...,Viet_Nam Upper,Yemen Lower,Yemen Median,Yemen Upper,Zambia Lower,Zambia Median,Zambia Upper,Zimbabwe Lower,Zimbabwe Median,Zimbabwe Upper
0,1950.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,178.392839,234.418232,308.531403,NaN,NaN,NaN
4,1954.5,NaN,NaN,NaN,NaN,NaN,NaN,181.095341,242.618134,323.057628,...,NaN,NaN,NaN,NaN,182.812119,229.885196,289.605718,127.126049,172.525838,236.717597

### First thing I needed to do was change the year into an Integer

In [16]:
df.Year = df.Year.astype(int)

### Then, I needed to melt the data so that I could upload it into Tableu into a readable format

In [18]:
df = df.melt(id_vars=df.columns[0], var_name='Country', value_name='Value').dropna()

### Once the data was wrangled I exported the dataset to my computer and uploaded it into Tableau

In [22]:
df.to_excel("Final Project Dataset Edited Official Final.xlsx", sheet_name='Sheet1', index=False)